<!DOCTYPE HTML>
<!--
    Striped by HTML5 UP
    html5up.net | 
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="blogasset/css/ie/html5shiv.js"></script><![endif]-->
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="~/blogasset/js/skel.min.js"></script>
    <script src="~/blogasset/js/skel-layers.min.js"></script>
    <script src="~/blogasset/js/init.js"></script>
    <link rel="stylesheet" href="~/blogasset/css/markdown/common.css" />
    <link rel="stylesheet" href="~/blogasset/css/markdown/github-markdown.css" />
    <link rel="stylesheet" href="~/blogasset/css/markdown/navbar.css" />
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }
    </style>
    <noscript>
        <link rel="stylesheet" href="~/blogasset/css/skel.css" />
        <link rel="stylesheet" href="~/blogasset/css/style.css" />
        <link rel="stylesheet" href="~/blogasset/css/style-desktop.css" />
        <link rel="stylesheet" href="~/blogasset/css/style-wide.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>
<!--
    Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
    Set it to "right-sidebar" to, you guessed it, position it on the right.
-->
<body class="left-sidebar">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Content -->
        <div id="content">
            <div class="inner">

                @RenderBody()

                <!-- Pagination 下面分页导航-->
                @*<div class="pagination">*@
                <!--<a href="#" class="button previous">Previous Page</a>-->
                @*<div class="pages">
                            <a href="#" class="active">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <span>&hellip;</span>
                            <a href="#">20</a>
                        </div>
                        <a href="#" class="button next">Next Page</a>
                    </div>*@

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo -->
            <h1 id="logo"><a href="#">iCyrene</a></h1>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    <li class="current"><a href="#">Latest Post</a></li>
                    <li><a href="/blog/test">About Me</a></li>
                    <li><a href="/blog/test">Contact Me</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </nav>

            <!-- Search -->
            <section class="box search">
                <form method="post" action="#">
                    <input type="text" class="text" name="search" placeholder="Search" />
                </form>
            </section>

            <!-- Text -->
            <section class="box text-style1">
                <div class="inner">
                    <p>
                        <strong>Striped:</strong> A free and fully responsive HTML5 site
                        template designed by <a href="#">AJ</a> for <a href="#">HTML5 UP</a>
                    </p>
                </div>
            </section>

            <!-- Recent Posts -->


            <section class="box recent-posts">
                <header>
                    <h2>Recent Posts</h2>
                </header>

                <ul>
                    @{List<string[]> blogs = ViewData["Blogs"] as List<string[]>; }
                    @for (int i = 0; i < blogs.Count; i++)
                    {
                        <li><a href="/blog/home/index/@blogs[i][0]" title="@blogs[i][0]">@blogs[i][0]</a></li>
                    }
                </ul>
            </section>

            <!-- Recent Comments -->
            <section class="box recent-comments">
                <header>
                    <h2>Recent Comments</h2>
                </header>
                <ul>
                    <li>case on <a href="#">Lorem ipsum dolor</a></li>
                    <li>molly on <a href="#">Sed dolore magna</a></li>
                    <li>case on <a href="#">Sed dolore magna</a></li>
                </ul>
            </section>

            <!-- Calendar -->
            <section class="box calendar">
                <div class="inner">
                    <table>
                        <caption>July 2014</caption>
                        <thead>
                            <tr>
                                <th scope="col" title="Monday">M</th>
                                <th scope="col" title="Tuesday">T</th>
                                <th scope="col" title="Wednesday">W</th>
                                <th scope="col" title="Thursday">T</th>
                                <th scope="col" title="Friday">F</th>
                                <th scope="col" title="Saturday">S</th>
                                <th scope="col" title="Sunday">S</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" class="pad"><span>&nbsp;</span></td>
                                <td><span>1</span></td>
                                <td><span>2</span></td>
                                <td><span>3</span></td>
                            </tr>
                            <tr>
                                <td><span>4</span></td>
                                <td><span>5</span></td>
                                <td><a href="#">6</a></td>
                                <td><span>7</span></td>
                                <td><span>8</span></td>
                                <td><span>9</span></td>
                                <td><a href="#">10</a></td>
                            </tr>
                            <tr>
                                <td><span>11</span></td>
                                <td><span>12</span></td>
                                <td><span>13</span></td>
                                <td class="today"><a href="#">14</a></td>
                                <td><span>15</span></td>
                                <td><span>16</span></td>
                                <td><span>17</span></td>
                            </tr>
                            <tr>
                                <td><span>18</span></td>
                                <td><span>19</span></td>
                                <td><span>20</span></td>
                                <td><span>21</span></td>
                                <td><span>22</span></td>
                                <td><a href="#">23</a></td>
                                <td><span>24</span></td>
                            </tr>
                            <tr>
                                <td><a href="#">25</a></td>
                                <td><span>26</span></td>
                                <td><span>27</span></td>
                                <td><span>28</span></td>
                                <td class="pad" colspan="3"><span>&nbsp;</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

            <!-- Copyright -->
            <ul id="copyright">
                <li>&copy; iCyrene.</li>
                <li>Design: <a href="#">iCyrene</a></li>
            </ul>

        </div>

    </div>

    <script src="~/blogasset/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/blogasset/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
